.contact-page{
  padding-top: 0;
  background:#fff;
  text-transform:uppercase;
  font-size:24px;
  margin-bottom:30px;
}

.contact-page .contact-form,
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
  border-radius:0;
}

textarea#message{
  resize: none;
  padding: 10px;
  border-radius:0;
}

.button-form {
  margin-top: 20px
}

.main-text-offset {
  margin-top: 14px;
}
